version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gin-admin
    image: gin-admin:latest
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
      - ./app.yaml:/app/app.yaml
    restart: unless-stopped


